  /* links en el encabezado de página de doc */
  .extLink              { color:blue; }
  body                  { margin:0px 8px; font-family:Calibri, helvetica, sans-serif; font-size:100%; background-color:#fffff8; }
  html,body             { height:100%; margin-top:0px; }

  #docHeader h1      { margin:0px; line-height:1em; margin-bottom:10px; padding-top:0; }
  #docHeader         { max-width:54em; margin:0px; margin-top:50px; background-color:transparent; margin-left:-8px; margin-right:-8px; }
  #docHeader span#linkPER { margin-left:8em; }
  #docHeader ul      { width:100%; margin:0px; }
  #docHeader li img  { vertical-align:bottom; }
  #docHeader li      { margin-top:0px; margin-bottom:1px }
  #docHeader hr      { width:100%; height:4px; color:#c0c0c0; background-color:#e5e7bc; border:0px; }
  #docLinks p, #docLinks li { color: #606060; font-size: 95%; line-height: 18px; margin: 0; padding: 0; }
  #docLinks p a      { color: #0000C0; }

/* uc items */
.ucItem { border:1px solid rgb(128,128,128); }
.ucItem > p { margin-left:3em; }
.ucItem > ol { margin-left:3em; }
.ucItem > ul { margin-left:3em; }
.ucItemName {}
.ucText {  } 
.ucExtensions { list-style-type:lower-alpha; }


  .imgL                 { float:left; margin-right:2em; }
  .imgR                 { float:right; margin-left:2em; }
  .word                 { color:#4040c0; font-size:80%; }	
  .doneItem             { color:#c0c0c0; }
  .doneItem a           { color:#a0a0f0; text-decoration:underline; }
  a .doneItem           { color:#a0a0f0; text-decoration:underline; }
  .printNoLinks         { }
  .word a               { color:#4040c0; }
  .MFScreen             { color:white; background:black; border:4px solid gray; border-radius:8px; font-size:75%; font-family:Consolas,monospace; line-height:125%; padding:1ex; }
  /************ fixed header *****************/
  .fixedHeader          { position:fixed; top:0px; left:0px; background-color:#fffff8; width:100%; z-index:99; background:transparent; }
  .fixedHeader h1       { opacity:0.9; font-size:180%; vertical-align:20%; }
  .fixedHeader img      { opacity:0.85; }
  /************ table of contents ************/
  .toc                  { font-size:85%; width:70%; margin:auto; }
  .toc a                { color:navy; display:block; }
  .toc ul               { list-style-type:none; }
  .toc li               { margin-bottom:3px; }
  /************ glossary *********************/
  .glossary             {  }
  .glossary dt          { font-style:italic; font-weight:bold; }
  .glossary dd          { margin-left:2em; }
  /*******************************************/
    .abstract             { font-style:italic; border:1px solid #c0c0c0; padding:6px 1em; margin:6px 2em 6px 2em; }
    .rt_showButton        { border:0; margin:0 0.3em 0 0.1em; vertical-align:middle; }
    .rt_hideButton        { border:0; margin:0 0.3em 0 0.1em; vertical-align:middle; }
    .rt_showHide          { text-shadow:0.15em 0.15em 4px #c0c0c0; } 
    .rt_hideShow          { text-shadow:0.15em 0.15em 4px #c0c0c0; } 
    .rt_TOC_H1            { margin-left:0em; font-weight:bold; display:none; list-style-type:none; } 
    .rt_TOC               { margin-left:3em; border-left:4px solid #e5e7bc; position:relative; } 
    .rt_TOC li            { padding-top:2px; padding-bottom:2px; } 
    .rt_TOC_H2            { margin-left:2em; line-height:90%; font-weight:bold; display:block; list-style-type:none; } 
    .rt_TOC_H3            { margin-left:4em; line-height:100%; font-size:80%; list-style-type:none; } 
    .rt_TOC_H5            { margin-left:7em; line-height:100%; font-size:75%; list-style-type:none; background-color:rgb(244,244,244); } 
    .rt_TOC_H4            { margin-left:6em; line-height:100%; font-size:75%; list-style-type:none; } 
    .rt_TOC_H6            { margin-left:8em; line-height:100%; font-size:75%; list-style-type:none; } 
    .rt_TOC_H7            { margin-left:9em; line-height:100%; font-size:75%; list-style-type:none; } 
    .rt_TOCLabel          { display:block; float:left; margin-top:.5em; font-size:1.5em; color:#e5e7bc; -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); }
  /************ tags *************************/
  .compactList li       { margin-top:0px; margin-bottom:1px; padding-top:2px; padding-bottom:2px; }
  .compactList          { margin-top:8px; margin-bottom:4px; } 
  .commandLine          { color:#ffffff; background-color:#400040; line-height:90%; font-weight:bold; margin-right:2em; 
                          overflow-x:auto; /* Use horizontal scroller if needed; for Firefox 2, not
                          white-space:pre-wrap; /* css-3 */
                          word-wrap:break-word; /* Internet Explorer 5.5+ */
                         }
  .paragraphLabel       { font-weight:700; font-variant:small-caps; font-size:90%; margin-right:1.2em; }
  pre                   { font-family:Consolas,monospace; font-size:80%; background-color:#f8f8ec; line-height:100%; }
  code                  { font-size:85%; font-family:Consolas,monospace; }
  .small80              { font-size:80%; }
  .small80 th           { font-size:110%; }
  .small70              { font-size:70%; }
  .small80 th           { font-size:120%; }
  .framed               { border:1px solid #c0c0c0; margin:6px 6px 6px 0; padding:.4em 1em .3em 1em; border-radius:8px; -moz-border-radius:8px; }
  .msgToSelf            { border:1px solid gray; background-color:yellow; padding-left:2px; padding-right:2px; opacity:.80; }
  .item                 { border:1px solid silver; margin-bottom:1ex; padding-left:1ex; }
  ul, ol                { margin-top:2px; margin-bottom:8px; margin-left:0.2em; padding-left:1em; }
  p                     { margin-top:9px; margin-bottom:0px; padding-top:1px; }
  li                    { margin-left:8px; margin-top:2px; margin-bottom:8px; }
  li p                  { margin-top:1px; margin-bottom:2px; padding-top:0px; }
  table                 { border-collapse:collapse; empty-cells:show; }
  dt                    { font-weight:bold; }
  dd                    { margin-left:2em; margin-top:0px; padding-top:0px; }
  th                    { font-size:80%; background-color:#f1f1f1; opacity:0.8; vertical-align:top; }
  td                    { vertical-align:top; padding-left:2px; padding-right:2px; padding-top:1px; padding-bottom:1px; }
  .borderTable table    { border:1px solid #e0e0e0; }
  .borderTable td       { border:1px solid #e0e0e0; }
  .borderTable th       { border:1px solid #e0e0e0; }
  h1                    { font-size:200%; font-weight:700; }
  h2                    { font-size:160%; font-style:italic; font-weight:700; }
  h3                    { font-size:133%; }
  h4                    { font-size:120%; font-style:italic; font-weight:700; }
  h5                    { text-decoration:none; font-size:100%; font-weight:700; background-color:rgb(244,244,244); }
  h6                    { font-size:95%; font-style:italic; font-weight:600; }
  h1, h2, h3, h4, h5, h6 { margin-top:.2em; line-height:3.0em; margin-bottom:-0px; clear:both; }
  h5, h6 { padding-left:1em; }
  blockquote            { margin-top:4px; margin-bottom:2px; font-style:italic; }
  ul                    { padding-left:1em; }
  li                    { margin-left:8px;margin-top:0px; margin-bottom:1px; }
  img                   { border-width:0px 0px 0px 0px; }
  hr                    { color:#808080; background-color:#808080; height:1px; width:100%; border:0px; }
  del                   { color:#c0c0c0; }

@media screen { 
  #docBody           { max-width:54em; }
  #docHeader h1      { text-shadow:0.15em 0.15em 4px #c0c0c0; }
  a                     { text-decoration:underline; color:#000040; }
  a:link                { text-decoration:underline; }
  a:visited             { text-decoration:underline; }
  a:hover               { background-color:#ffffd0; text-decoration:underline; }
  body                  {  }
  .prex2em, .presmall, .prex    {  }
  .docHeader ul li a { display:block; }
  .textColumn           { max-width:50em; }
  .focusedInput         { background-color:#f8f8f0; }
  /* tag external links with the ejected arrow */ 
  a[href^="http:"]      { background:url(linkOut.gif) no-repeat left bottom; padding-left:18px; }
  a[href^="https:"]      { background:url(linkOut.gif) no-repeat left bottom; padding-left:18px; }
  a[href^="http://en.wikipedia.org"] { background:url(WikipediA.gif) no-repeat left 50%; padding-left:18px; }  
  /* a[href^="http://sol."]     { background-image:none; padding-right:0px; } */
  /* - - - - - - - - - - - - - - - - - - - */
}


@media print { 
  .chapter              { page-break-before:always; } 
  .printInNewPage       { page-break-before:always; }
  a                     { text-decoration:none; color:black; }
  a:link                { text-decoration:none; color:black; }
  a:visited             { text-decoration:none; color:black; }
  a:hover               { text-decoration:none; color:black; }
  p                     { color:black; }
  /* tag external links with the out-of-here arrow */ 
  a[href^="http:"]      { padding-left:inherit; }
  a[href^="https:"]     { padding-left:inherit; }
  /* print links href except for class "printNoLinks" */
  a:after               { content:" [" attr(href) "]"; font-size:75%; }
  
  /* print links href except for class "printNoLinks" */
  .printNoLinks a:after { content:""; }
  #docHeader h1 a:after { content:""; } 

  /* don't print internal links */
  a[href^='#']:after { content:""; }
  
  /* no imprime links de navegación */
  #docHeader .fixedHeader a { display:none; }
}

