@media screen {
/* solo muestrario de colores */
    /* colores elegidos, en pantalla */
    #MCEColoresElegidos     { float:right; width:160px; }
    #MCEEncab               { display:none; }

    .MCEColorElegido        { position:relative; width:100%; height:160px;
                              font-family:Calibri,Arial,sans-serif;
                              font-size:90%;
                            }
    .MCEColorElegidoBlah    { position:absolute; bottom:0px; margin: 0 6px 2px 6px; }
    .MCEColorElegidoImg     { display:none; }
    .MCEColorElegidoClose   { position:absolute; right:1px; top:1px; border:1px solid white; margin:0; height:1em;
                              cursor:pointer; width:1em; line-height:1ex; padding:1px 0 0 0; font-family:Arial,sans-serif; }
    div.MCEColorElegidoClose.MColorClaro { border-color:rgb(128,128,128); color:128,128,128); }
    .MCEColorElegidoClose:hover { color:rgb(128,128,128); }
    .MCEColorElegidoCloseX  { margin:0px 0px 3px 0px; text-align:center; }
}
