@media all {
/* links en el encabezado de página de agenda */
    .extLink { color: blue; }
    body { margin:30px; font-family: Montserrat, helvetica, sans-serif; font-size: 100%; background-color: #fffff8; }
    #cvHeader    { max-width:43em; }
    #cvHeader h1 { margin: 0px; }
    #cvHeader span#linkPER { margin-left: 8em;  }
    #cvHeader ul { width: 100%; margin: 0px; }
    #cvHeader li { margin: 0px; }
    #cvHeader hr { width: 100%; height: 4px; color: #c0c0c0; }
    div.toc { margin-left:6em; }
/* - - - */
a[href^="http:"] { background: url(external_link.gif) no-repeat right top; padding-right: 16px; }
/* a[href^="http://sol."] { background-image: none; padding-right: 0px; } */
    html,body { height: 100%; }
    .word { font-size: 80%; color: #8080c0; }
    .sans { font-family: Montserrat, helvetica, sans-serif; font-size: 100%; background-color: #fffff8; }
    .imgL { float: left; margin-right: 2em; }
    .imgR { float: right; margin-left: 2em; }
    pre { font-family: monospace; font-size: 100%; background-color: #f8f8e8; }
    .prex { border: 1px solid; padding: 4px; background-color: #fffff0; }
    .prexSmall { border: 1px solid; padding: 4px; background-color: #fffff0; font-size: 70%; }
    .prex2em { border: 1px solid; padding: 4px; background-color: #fffff0; margin-left: 2em; }
    .dateSaved { font-size: 70%; color: #4040ff; }
    .msgToSelf { border: 1px solid gray; background-color: yellow; padding-left: 2px; padding-right: 2px; }
    P { margin-top:12px; margin-bottom:1px; padding-top:1px; color:rgb(96,96,96); }
    ul, ol { margin-top : 0px; margin-bottom : 6px; margin-left : 0.2em; padding-left : 1em; }
    li { margin-left: 8px; }
    dd { margin-left : 2em; }
    pre { font-family: monospace; font-size: 85%; }
    code { font-size: 85%; }
    TABLE { border-collapse: collapse; }
    TH { font-size: 70%; background-color: #E1E1E1; }
    td { vertical-align: top; padding-left: 2px; padding-right: 2px; padding-top: 1px; padding-bottom: 1px; }
    h1{ font-size : 133%; }
    h5 { text-decoration : underline; font-size: 95%; }
    h6 { font-size: 95%; font-style: italic; }
    h1, h2, h3, h4, h5, h6 { margin-top: .5em; margin-bottom: 0px; padding-top: 1px; }
    blockquote { margin-top : 4px; margin-bottom : 2px; }
    img{ border-width : 0px 0px 0px 0px; }
    hr { color: #808080; background-color: #808080; height: 1px; }
} /* fin de @media all */

/* los links se ven como links pero se imprimen como texto normal */
@media screen { 
    #docBody { margin-bottom:777px; }
    a { text-decoration : underline; color: black; }
    .chronoList li { margin-left: 8px; }
    .chronoList a { font-size: 80%; text-decoration: none; color: rgb(40,40,128); display: block; }
    .chronoList a:visited { color:rgb(40,40,80); text-decoration:none; }
    .chronoList a:hover { background-color: rgb(220,220,220); color: black; text-decoration: underline; }
}

@media print {
    a { text-decoration:none; font-size:80% /* color: black; */ }
    a:link { text-decoration : none; color: black; }
    a:visited { text-decoration : none; color: black; }
    a:hover { text-decoration : none; color: black; }
    /* imprime el href de los links */
    /* a:after { content: " [" attr(href) "]"; font-size: 75%; } */
    /* no imprime links de navegación */
    #cvHeader h1 a { display: none; }
    .dontPrint { display:none; font-size:0px; }
    body { font-size: 80%; }
    div.toc { margin-left:1em; }
    .ZZZ { page-break-inside: avoid; }
    #lista { page-break-before: always; }
    #historia { page-break-before: always; }
}

